<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cf="http://www.sunce.xin/schema/config"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
       http://www.sunce.xin/schema/config
       http://www.sunce.xin/schema/config.xsd">

    <context:component-scan base-package="xin.sunce.spring"/>


    <cf:config id="self" url="http://www.sunce.xin" name="ce.sun"/>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/login"/>
            <bean id="interceptor" name="demoInterceptor" class="xin.sunce.spring.interceptor.DemoInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/login"/>
            <bean id="interceptor2" name="demoInterceptor2" class="xin.sunce.spring.interceptor.DemoInterceptor2"/>
        </mvc:interceptor>
    </mvc:interceptors>


</beans>